.food-card {
    color: #000;
}

.food-card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.food-card > button {
    color: #000;
    font-size: 18px;
    padding: 4px 0;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: aliceblue;
}

.food-card > button:hover {
    background-color: #f0f0f0;
    transition: all 0.3s ease;
}