* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: aliceblue;
}

a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

button {
    padding: 8px 16px;
    border: none;
    outline: none;
    cursor: pointer;
}

.basket-card {
    color: white;
}